
#box_1{
    width: 100%;
    height: 600px;
    background: #290000;
    position: relative;
}

#top_menu{
      height: 40px;
    width: 80%;
    left: 10%;
    color: aliceblue;
    position: absolute;
    top: 5%;

}

#top_menu_ul{
    display: inline;
    float: right;
    
}

.top_menu_li{
        display: inline;
    margin: 0%;
    float: right;
    padding: 10px;
    
    
}

#h1_name_site{
    font-size: 40px;
        display: inline;
    padding: 10px;
    font-weight: normal;
}

.top_menu_li:hover{background: #76c38f;
    border-radius: 7px;
transition: background 0.75s,border-radius 0.5s;

}

#h1_slider{
        margin-left: 7%;

    color: whitesmoke;
    max-width: 410px;
        text-shadow: 1px 1px 10px #ff004c;
}
#p_slider{
        margin-left: 7%;

    color: whitesmoke;
    max-width: 425px;
    font-weight: bold;
    text-shadow: 1px 1px 12px #ff14b1;
    
}
#more_slider{
    margin-left: 7%;
    text-decoration: none;
    background: #81C784;
    padding: 10px;
    margin-top: 7px;
    display: inline-block;
    border-radius: 7px;
    border: 2px solid;
    color: whitesmoke;
    box-shadow: 0px 0px 19px #d25b5b;
}








#slider{
       
    position:  absolute;
    width: 80%;
    height: 60%;
    top: 25%;
    left: 10%;
 
    
}

.btn_next_slider{
        
    text-decoration: none;
    position: absolute;
    top: 53%;
    
    width: 20px;
    height: 25px;
    border-radius: 30px;
    transition: all 1s;
}
#btn_next_slider_l{left: 7%;
background: url("img/next_l.png");
    background-repeat: round;
}
#btn_next_slider_r{right: 7%;
background: url("img/next_r.png");
    background-repeat: round;
}
.btn_next_slider:hover{width: 25px;
height: 30px; box-shadow: 1px 1px 10px #333333;
}
#div_img_slider{    right: 4%;
    position: absolute;
background: url(img/aa.jpg);
    width: 300px;
    height: 300px;
    border-radius: 190px;
    top: 7%;
    box-shadow: 0px 0px 24px #ff01a6;
    border: 14px solid #333333;
    background-repeat: round;

}


#box_2{  position: relative;
    width: 100%;
    height: 1100px;
    background: #660000;}

#item_box2_frame{
    position: absolute;
    width: 80%;
    left: 10%;
    top:7%;
    
    height: 32%;
    
}
.item_box2_one{width: 24%;
    height: 100%;
    background: #ffffff;
    display: inline-block;
    float: right;
    border-radius: 7px;
    margin-right: 1%;}
.img_item_one{background:url(img/aa.jpg);
    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 9px;
    background-repeat: round;}
.h2_item_one{color: #3d3d3d;
    text-align: center;
}
.p_item_one{    padding: 0% 10%;
    text-align: justify;
    color: #333333;
font-size: 13px;
}
.item_box2_one:hover{background:#333; }
.item_box2_one:hover h2{color: white}
.item_box2_one:hover p{color: white}

#br_box_2{
    position: absolute;
    
    width: 100%;
    top: 45%;
    height: 5%;
}
.br_box_2_line{    background: #353535;
    height: 3px;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 32%;}
.br_box_2_matn{
    color: #ffffff;
    background: #353535;
    padding: 1% 10%;
    position: absolute;
    left: 35%;
    border-radius: 7px;
    
}

#item_box_frame_2{width: 80%;
    height: 40%;
    
    position: absolute;
    left: 10%;
    top: 55%;}
.item_box_item_2{  width: 30%;
    height: 45%;
    background: url(img/aa.jpg);
    float: right;
    margin: 1%;
    border-radius: 7px;
border: 2px solid wheat;
    background-repeat: round;
    position: relative;overflow: hidden;
}
.item_box_item_2_text{    position: absolute;
    bottom: 0px;
    background: #02010180;
    padding: 3%;
    width: 100%;
    opacity: 0;
    height: 100%;
    text-align: center;
    transition: all 1s;

}
.item_box_item_2:hover{
    border: 2px solid green;

    
}
.item_box_item_2:hover .item_box_item_2_text{opacity: 1; height: 13%;}


























#box_3{width: 100%;
              height: 400px;
    background: #353535;
    position: relative;
}

#box_3_frame{   
    width: 80%;
    position: absolute;
    height: 100%;
    left: 10%;}

.box_3_item{
    color: white;
    height: 85%;
    width: 30%;
   
    display: inline-block;
    margin-top: 35px;
    margin-left: 5px;
    float: right;
padding: 5px;
}

.h3_footer{}
.p_footer{}



#about_me_omid {background: #353535;
    display: block;
    font-size: 15px;
    padding: 5px;}




















